* {box-sizing: border-box;}
/*html, body { 
margin: 0;
padding: 0;
height: 100%;
overflow:auto;  
}*/
body {
/*position: relative;*/
/*padding-bottom: 30px;*/
margin: 0;
height: 100%;
}
body { 
background-image: linear-gradient(to bottom, #344e41 20%, #3a5a40 70%);
background-repeat: no-repeat;
background-size: cover;
}
header { 
background-color: #588157;
/*background-image: ();*/
}
.bg_img1 { 
background-image: url();
/*background-position: ;
background-size: ;
background-repeat: ;
height: ;*/
}
h1 { 
margin: 0;
margin-left: 0;
margin-right: 0;
height: 75px;
padding-top: 15px;
text-align: center;
/*font-family: ;*/
color: White;
/*text-shadow: ;
text-align: ; 
font-size: ;
padding: ; 
height: ;*/
}
#wrapper { 
margin: auto;
width: 90%;
height: 100%;
background-color: white;
border: 1px solid white;
}
nav { 
margin: 0; 
background-color: #F0F3FF;
text-align: center;
position: sticky;
top: 0;
}
nav a{ 
/*font-family: ;*/
text-decoration: none;
/*font-weight: ;
font-size: ; */
}
/*nav a:link { 
color: ; 
text-shadow: ; 
}
nav a:hover { 
color: ; 
text-shadow:
}*/
nav ul { 
margin: 0; 
list-style-type: none; 
}
nav li { 
display: inline-block;
margin-left: 10px;
margin-right: 10px;
text-align: center;
padding: .5rem 1rem;
}
main { 
background-color: white;
height: 100%; 
margin: 0; 
padding: 10px;
/*color: ;
font-family: ;*/
}
.strong { 
/*font-weight: ;*/
}
.italic { 
/*font-style: ;*/
}
footer { 
margin: 0; 
background-color: #a3b18a;
width: 100%;
height: 43px;
/*position: fixed; */ 
/*bottom: 0;
left: 0; 
right: 0; */
}
footer p { 
/*font-family: ; */
text-align: center;
margin: 0; 
padding: .8rem 0;
/*text-shadow: ; 
font-weight: ; 
font-size: ; */
}
.right { 
float: right; 
padding: 2px;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px; 
margin-bottom: 5px;
/*border-radius: ;
border: ;
background-color: ;*/
}
body {
display: flex;
flex-direction: column;
}
@media (min-width: 600px)
{
html, body { 
margin: 0;
padding: 0;
height: 100%;
overflow:auto;  
}  
}  
